<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!--materializecss-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

    <!-- Moment -->
    <script src="/static/js/moment/moment.min.js"></script>

    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
          integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
            integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
            crossorigin=""></script>

    <style>
        body { margin: 0; }
        canvas { width: 100%; height: 100% }
        a {cursor: pointer;}
        .btn-nav {color:white;cursor: pointer;}
        .btn-nav:hover {background:#ccc;color: #666!important;}
        .btn-nav.active {background:#ccc;color: #666!important;}
        .clickable {cursor: pointer;}
        button.btn:hover, button.btn:hover {background: #ddd;}
    </style>

    <!-- Simulator three -->
    <!--<script src="/static/js/three/three.js"></script>-->
    <!--<script src="/static/js/three/viewport.js"></script>-->
    <!--<script src="/static/js/three/controls/orbit.js"></script>-->
    <!--<script src="/static/js/three/controls/grabber.js"></script>-->
    <!--<script src="/static/js/three/controls/grabber.js"></script>-->
    <!--<script src="/static/js/simulator.js"></script>-->

    <!-- Highcharts -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>

</head>

<body>

    <div id="container_map" class="window-content" style="position:absolute;z-index:0;width:100%;height:100%;">
        <div id="map_id" style="width:100%;height:100%;"></div>
    </div>

    <div id="container_simulator" class="window-content" style="position:absolute;z-index:0;width:100%;height:100%;display: none;">
        <!--<div id="screen" style="width:100%;height:100%;"></div>-->
        <div id="live_chart" style="height: 500px"></div>
    </div>

    <div id="container_history" class="window-content" style="position:absolute;z-index:0;width:100%;height:100%;display: none;">
        <div id="history_list" style="padding:54px;">
            <h3 style="margin-top: 0;">
                <div class="right"><button class="btn btn-flat" onclick="open_create_session();"><i class="material-icons left">add</i> New Session</button></div>
                Sessions
            </h3>
            <div id="sessions_list"></div>
        </div>
        <div id="session_data" style="padding:54px;display:none;"></div>
    </div>

    <div id="container_live_img" style="position:absolute;bottom:32px;right:0;z-index:1;border:1px solid #444;display: none;">
        <img id="live_img" src="" style="width:460px;height:340px;background:#CCC;"/>
    </div>

    <div id="footer" style="position:fixed;z-index:1;width:100%;bottom:0px;left:0px;background: #444;color:#fff;">
        <div style="float: left;padding:8px;">FlyPi</div>
        <div id="container" style="float: left;padding:8px;"></div>

        <div style="position:absolute;right:0;margin-top:6px;display: table;">
            <span id="current_session" style="padding:8px;"></span>
            <a class="btn-nav" onclick="show('map')" style="color: white;padding:8px;"><i class="material-icons" style="vertical-align: bottom;">place</i></a>
            <a class="btn-nav" onclick="show('simulator')" style="color: white;padding:8px;"><i class="material-icons" style="vertical-align: bottom;">language</i></a>
            <a class="btn-nav" onclick="show('history')" style="color: white;padding:8px;"><i class="material-icons" style="vertical-align: bottom;">alarm</i></a>
            <a id="btn_live_img" class="btn-nav" onclick="open_live_img()" style="color: white;padding:8px;"><i class="material-icons" style="vertical-align: bottom;">image</i></a>
        </div>

    </div>

    <script type="text/javascript">
        var data = {};
        var ws_host = document.location.host;
        var ws = new WebSocket("ws://"+ ws_host +"/websocket");
        ws.onopen = function () {
            ws.send(JSON.stringify({
                action: "start_data_loop"
            }));
        };
        ws.onmessage = function (evt) {
            var json = JSON.parse(evt.data);

            if(json.action == "payload_data") {
                data = json.data;
                var str = data.channel + " " + data.payload + ": " +
                        "lat=" + data.lat + " lon=" + data.lon + " alt=" + data.alt +
                        ", t=" + data.time;
                document.getElementById("container").innerHTML = str;

                marker.setLatLng([data.lat, data.lon]);
                mymap.panTo(new L.LatLng(data.lat, data.lon));

                var color = "red";  // GLOBO ESTA PUJANT
                if(chart.series[0].points.length > 0 && chart.series[0].points[chart.series[0].points.length-1].y > data.alt) color = "green";  // GLOBO ESTA BAIXANT
                chart.series[0].addPoint({
                    x: data.lat,
                    z: data.lon,
                    y: data.alt,
                    time: data.time,
                    color: color
                }, true, false);
                chart.tooltip.hide();
                chart.update({});
                chart.tooltip.hide();

                // simulator.update_position_globo(data.lat, data.lon, data.alt, data.time);
            }
            else if(json.action ==  "sessions_list"){
                render_sessions_list(json.data);
            }
            else if(json.action ==  "new_session") {
                if (json.data) {
                    var session = json.session;
                    if($("#table_sessions_list").length == 0) render_sessions_list([session]);
                    else {
                        var html = get_session_row(session);
                        $("#table_sessions_list tbody").prepend(html);
                    }
                } else {
                    alert("You cannot create this session.");
                }
            }
            else if(json.action ==  "session_started") {
                session_started(json.session);
            }
            else if(json.action ==  "session_finalized") {
                session_finalized();
            }
            else if(json.action ==  "session_data"){
                render_session_data(json.session, json.data);
            }
            else if(json.action ==  "session_removed"){
                session_removed(json.session);
            }

        };

        window.onbeforeunload = function() {
            ws.onclose = function () {}; // disable onclose handler first
            ws.close()
        };

        var mymap = L.map('map_id').setView([41.35, 2.105], 13);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: false,
            maxZoom: 18
        }).addTo(mymap);
        var marker = L.marker([0, 0]).addTo(mymap);

        var is_live = false;
        var _idGetLive;
        function open_live_img(){
            is_live = !is_live;
            $("#container_live_img").toggle();
            if($("#btn_live_img").hasClass('active')) $("#btn_live_img").removeClass("active");
            else $("#btn_live_img").removeClass("active").addClass("active");
            if (is_live)
                _idGetLive = setInterval(function(){
                    $("#live_img").prop('src', "http://" + ws_host + "/images/live?ts="+new Date().getTime());
                }, 1000);
            else clearInterval(_idGetLive);
        }

        function show(mode){
            $(".window-content").hide();
            switch (mode){
                case 'map':
                    $("#container_map").show();
                    mymap.invalidateSize();
                    break;
                case 'simulator':
                    $("#container_simulator").show();
                    // simulator.update_screen();
                    chart.setSize($("#live_chart").width(), window.innerHeight - $("#footer").height(), doAnimation=false);
                    chart.setSize($("#live_chart").width(), window.innerHeight - $("#footer").height(), doAnimation=false);
                    break;
                case 'history':
                    $("#container_history").show();
                    $("#history_list").show();
                    $("#session_data").hide();
                    $("#sessions_list").html('<h1 class="center">Loading . . .</h1>');
                    get_sessions_list();
                    break;
            }
        }

        // SESSIONS
        var current_session = undefined;
        // List
        function get_sessions_list(){
            ws.send(JSON.stringify({
                action: "get_sessions_list"
            }));
        }
        function get_session_row(session){
            return '\
            <tr id="session_'+session+'" class="session-list">\
                <td><a onclick="show_session(\'' + session + '\')">' + session + '</a></td>\
                <td width="1%"><button class="btn btn-flat" onclick="remove_session(\'' + session + '\')"><i class="material-icons">delete</i></button></td>\
                <td width="1%">\
                    <button class="btn btn-flat btn-start-session" onclick="start_session(\'' + session + '\')" ' + ((current_session != session) ? '' : 'style="display: none;"') + '><i class="material-icons">play_arrow</i></button>\
                    <button class="btn btn-flat btn-finalize-session" onclick="finalize_session(\'' + session + '\')" ' + ((current_session == session) ? '' : 'style="display: none;"') + '><i class="material-icons">stop</i></button>\
                </td>\
            </tr>';
        }
        function render_sessions_list(sessions){
            var html = '';
            if(sessions.length == 0){
                html = '<h4 class="center">No sessions created</h4>';
            } else {
                html = '<table id="table_sessions_list" class="highlight"><thead><tr>\
                    <th>Name</th>\
                    <th>Remove</th>\
                    <th>Action</th>\
                </tr></thead><tbody>';
                for(var i in sessions){
                    var session = sessions[i];
                    html += get_session_row(session);
                }
                html += '</tbody></table>';
            }
            $("#sessions_list").html(html);
        }
        // Manage
        function open_create_session(){
            var session_name = prompt("Please enter a session name:", "");
            if (session_name !== null && session_name !== "") {
                ws.send(JSON.stringify({
                    action: "new_session",
                    session: session_name
                }));
            }
        }
        function start_session(session){
            ws.send(JSON.stringify({
                action: "start_session",
                session: session
            }));
        }
        function session_started(session){
            current_session = session;
            $("#current_session").html(session);
            $(".btn-start-session").show();
            $(".btn-finalize-session").hide();
            $("#session_" + current_session).find('.btn-start-session').hide();
            $("#session_" + current_session).find('.btn-finalize-session').show();
        }
        function finalize_session(session){
            ws.send(JSON.stringify({
                action: "finalize_session",
                session: session
            }));
        }
        function session_finalized(){
            current_session = undefined;
            $("#current_session").html("");
            $(".btn-start-session").show();
            $(".btn-finalize-session").hide();
        }
        // Remove
        function remove_session(session){
            var conf = confirm("Are you sure to remove this session?");
            if(conf === true){
                ws.send(JSON.stringify({
                    action: "remove_session",
                    session: session
                }));
            }
        }
        function session_removed(session){
            if(session === current_session) {
                session_finalized();
                current_session = undefined;
            }
            $("#session_" + session).remove();
            if($(".session-list").length == 0) $("#sessions_list").html('<h4 class="center">No sessions created</h4>')
        }
        // Render
        var current_session_data;
        function show_session(session){
            $("#history_list").hide();
            $("#session_data").show();
            $("#session_data").html('<h3 class="center">Loading '+ session +' . . .</h3>');
            ws.send(JSON.stringify({
                action: "session_data",
                session: session
            }));
        }
        function render_session_data(session, data){
            current_session_data = {
                session: session,
                max_lat: undefined,
                min_lat: undefined,
                max_lon: undefined,
                min_lon: undefined,
                data: data
            };
            var html = '<h3 style="margin-top:0;"><i class="material-icons clickable" onclick="show(\'history\');" style="font-size: 32px;vertical-align: middle;">arrow_back</i> '+session+'</h3>';

            if(data.length > 0) {

                var data_alt = [], data_velocity = [];
                var html_table_results = '<table><thead><tr>\
                    <th>Lat</th>\
                    <th>Lon</th>\
                    <th>Alt</th>\
                    <th>Time</th>\
                </tr></thead><tbody>';
                for (var i in data) {
                    html_table_results += '<tr>\
                        <td>'+round(data[i].lat, 4)+'</td>\
                        <td>'+round(data[i].lon, 4)+'</td>\
                        <td>'+round(data[i].alt, 0)+'</td>\
                        <td>'+moment(data[i].time, 'X').format('YYYY-MM-DD H:m')+'</td>\
                    </tr>';
                    // DATA CHARTS
                    var vel = 0;
                    if(i > 0) vel = (data[i].alt - data[i-1].alt) / (data[i].time - data[i-1].time);
                    data_alt.push([data[i].time * 1000, data[i].alt]);
                    data_velocity.push([data[i].time * 1000, vel]);

                    // DATA TRAJECTORY
                    if(current_session_data.max_lat == undefined || current_session_data.max_lat < data[i].lat) current_session_data.max_lat = data[i].lat;
                    if(current_session_data.min_lat == undefined || current_session_data.min_lat > data[i].lat) current_session_data.min_lat = data[i].lat;
                    if(current_session_data.max_lon == undefined || current_session_data.max_lon < data[i].lon) current_session_data.max_lon = data[i].lon;
                    if(current_session_data.min_lon == undefined || current_session_data.min_lon > data[i].lon) current_session_data.min_lon = data[i].lon;
                }
                html_table_results += '</tbody></table>';
                html += '<div class="row">\
                    <div class="col s4">\
                        ' + html_table_results + '\
                    </div>\
                    <div class="col s8">\
                        <div id="chart_time"></div>\
                        <b>Lat/Lon Trajectory</b>\
                        <div><canvas id="lat_lon_trajectory"/></div>\
                        <div>Here other info . . .</div>\
                    </div>\
                </div>';
                $("#session_data").html(html);

                var chart_time = Highcharts.chart('chart_time', {
                    chart: {
                        zoomType: 'x',
                        events: {
                            selection: function (event) {
                                if(event.resetSelection === true) draw_lat_lon_trajectory(current_session_data.data);
                                else {
                                    var data = [],
                                        max_lat, max_lon,min_lat, min_lon;
                                    for (var i in current_session_data.data) {
                                        if (current_session_data.data[i].time * 1000 < event.xAxis[0].min) continue;
                                        if (current_session_data.data[i].time * 1000 > event.xAxis[0].max) break;
                                        data.push(current_session_data.data[i]);

                                        if(max_lat == undefined || max_lat < current_session_data.data[i].lat) max_lat = current_session_data.data[i].lat;
                                        if(min_lat == undefined || min_lat > current_session_data.data[i].lat) min_lat = current_session_data.data[i].lat;
                                        if(max_lon == undefined || max_lon < current_session_data.data[i].lon) max_lon = current_session_data.data[i].lon;
                                        if(min_lon == undefined || min_lon > current_session_data.data[i].lon) min_lon = current_session_data.data[i].lon;

                                    }
                                    draw_lat_lon_trajectory(data, {lat:max_lat, lon:max_lon}, {lat:min_lat, lon:min_lon});
                                }
                            }
                        }
                    },
                    title: {
                        text: 'Time Information'
                    },
                    subtitle: {
                        text: ''
                    },
                    exporting: {
                        enabled: false
                    },
                    credits: {
                        enabled: false
                    },
                    xAxis: [{
                        type: 'datetime'
                    }],
                    yAxis: [{ // Primary yAxis
                        labels: {
                            format: '{value} m/s',
                            style: {
                                color: Highcharts.getOptions().colors[1]
                            }
                        },
                        title: {
                            text: 'Velocity',
                            style: {
                                color: Highcharts.getOptions().colors[1]
                            }
                        }
                    },
                    { // Secondary yAxis
                        title: {
                            text: 'Altitude',
                            style: {
                                color: Highcharts.getOptions().colors[0]
                            }
                        },
                        labels: {
                            format: '{value} m',
                            style: {
                                color: Highcharts.getOptions().colors[0]
                            }
                        },
                        opposite: true
                    }],
                    tooltip: {
                        shared: true
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'left',
                        x: 120,
                        verticalAlign: 'top',
                        y: 100,
                        floating: true,
                        backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
                    },
                    series: [{
                        name: 'Altitude',
                        type: 'spline',
                        yAxis: 1,
                        data: data_alt,
                        tooltip: {
                            valueSuffix: ' m'
                        }

                    },
                    {
                        name: 'Velocity',
                        type: 'spline',
                        data: data_velocity,
                        tooltip: {
                            valueSuffix: 'm/s'
                        }
                    }]
                });

                draw_lat_lon_trajectory(data);

            } else {
                html += '\
                <h4 class="center">No data in this session.</h4>\
                <div class="center"><a onclick="show(\'history\');">Back to sessions list</a></div>';
                $("#session_data").html(html);
            }

        }
        function draw_lat_lon_trajectory(data, max_point, min_point){
            var w = $("#lat_lon_trajectory").parent().width(),
                h = w / (16/9);
            $("#lat_lon_trajectory").prop('width', w);
            $("#lat_lon_trajectory").prop('height', h);

            var canvas = $("#lat_lon_trajectory").get(0);
            var ctx = canvas.getContext("2d");

            // lat = y;
            // lon = x;
            if (max_point == undefined) {
                max_point = {
                    lat: current_session_data.max_lat,
                    lon: current_session_data.max_lon
                };
            }
            if (min_point == undefined) {
                min_point = {
                    lat: current_session_data.min_lat,
                    lon: current_session_data.min_lon
                };
            }
            // apply padding (for better visualization)
            var pad = 0.005;
            max_point.lat += pad;
            max_point.lon += pad;
            min_point.lat -= pad;
            min_point.lon -= pad;

            var total_lon = (max_point.lon - min_point.lon);
            var total_lat = (max_point.lat - min_point.lat);
            var radius = 5;
            var prev_x, prev_y;
            for(var i in data) {
                var x = ((data[i].lon - min_point.lon) / total_lon) * w;
                var y = ((data[i].lat - min_point.lat) / total_lat) * h;

                var color;
                if(i == 0) {  // START POINT
                    color = "orange";

                    ctx.beginPath();
                    ctx.fillStyle = color;
                    ctx.arc(x, y, radius + 2, 0, 2 * Math.PI);
                    ctx.fill();

                    ctx.beginPath();
                    ctx.strokeStyle = color;
                    ctx.arc(x, y, radius + 7, 0, 2 * Math.PI);
                    ctx.stroke();

                } else if(i == data.length - 1) { // END POINT
                    if (data[i].alt > data[i - 1].alt) color = "red";  // PUJANT
                    else color = "green"; // BAIXANT

                    ctx.beginPath();
                    ctx.strokeStyle = color;
                    ctx.moveTo(prev_x, prev_y);
                    ctx.lineTo(x, y);
                    ctx.stroke();

                    color = "black";

                    ctx.beginPath();
                    ctx.fillStyle = color;
                    ctx.arc(x, y, radius + 2, 0, 2 * Math.PI);
                    ctx.fill();

                    ctx.beginPath();
                    ctx.strokeStyle = color;
                    ctx.arc(x, y, radius + 7, 0, 2 * Math.PI);
                    ctx.stroke();
                } else {  // FLIGHT
                    if (data[i].alt > data[i - 1].alt) color = "red";  // PUJANT
                    else color = "green"; // BAIXANT

                    ctx.beginPath();
                    ctx.strokeStyle = color;
                    ctx.moveTo(prev_x, prev_y);
                    ctx.lineTo(x, y);
                    ctx.stroke();

                    ctx.beginPath();
                    ctx.fillStyle = color;
                    ctx.arc(x, y, radius, 0, 2 * Math.PI);
                    ctx.fill();
                }

                prev_x = x;
                prev_y = y;
            }
        }


        // SIMULATOR
        // var simulator = new Simulator("screen");

        // LIVE CHART
        // Give the points a 3D feel by adding a radial gradient
        Highcharts.setOptions({
            colors: $.map(Highcharts.getOptions().colors, function (color) {
                return {
                    radialGradient: {
                        cx: 0.4,
                        cy: 0.3,
                        r: 0.5
                    },
                    stops: [
                        [0, color],
                        [1, Highcharts.Color(color).brighten(-0.2).get('rgb')]
                    ]
                };
            })
        });
        // Set up the chart
        var chart = new Highcharts.Chart({
            chart: {
                renderTo: 'live_chart',
                margin: 100,
                type: 'scatter3d',
                animation: false,
                options3d: {
                    enabled: true,
                    alpha: 10,
                    beta: 30,
                    depth: 250,
                    viewDistance: 5,
                    fitToPlot: false,
                    frame: {
                        bottom: { size: 1, color: 'rgba(0,0,0,0.02)' },
                        back: { size: 1, color: 'rgba(0,0,0,0.04)' },
                        side: { size: 1, color: 'rgba(0,0,0,0.06)' }
                    }
                }
            },
            exporting: {
                enabled: false
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'Live Position'
            },
            subtitle: {
                text: 'Trajectory described by the balloon since browser being opened'
            },
            tooltip: {
                followPointer: false,
                formatter: function () {
                    return '<b>'+this.series.name+'</b><br/>\
                    lat: ' + this.point.x + '<br/>\
                    lon: ' + this.point.z + '<br/>\
                    alt: ' + this.point.y + '<br/>\
                    time: ' + moment(this.time).format("YYYY-MM-DD H:m");
                },
                hideDelay: 600
            },
            plotOptions: {
                scatter: {
                    width: 10,
                    height: 10,
                    depth: 10
                }
            },
            yAxis: {
                title: null
            },
            xAxis: {
                gridLineWidth: 1
            },
            zAxis: {
                showFirstLabel: false
            },
            legend: {
                enabled: false
            },
            series: [{
                name: 'Live Position',
                colorByPoint: true,
                data: []
            }]
        });
        // Add mouse and touch events for rotation
        (function (H) {
            function dragStart(eStart) {
                eStart = chart.pointer.normalize(eStart);

                var posX = eStart.chartX,
                    posY = eStart.chartY,
                    alpha = chart.options.chart.options3d.alpha,
                    beta = chart.options.chart.options3d.beta,
                    sensitivity = 5; // lower is more sensitive

                function drag(e) {
                    // Get e.chartX and e.chartY
                    e = chart.pointer.normalize(e);

                    chart.update({
                        chart: {
                            options3d: {
                                alpha: alpha + (e.chartY - posY) / sensitivity,
                                beta: beta + (posX - e.chartX) / sensitivity
                            }
                        }
                    }, undefined, undefined, false);
                }

                chart.unbindDragMouse = H.addEvent(document, 'mousemove', drag);
                chart.unbindDragTouch = H.addEvent(document, 'touchmove', drag);

                H.addEvent(document, 'mouseup', chart.unbindDragMouse);
                H.addEvent(document, 'touchend', chart.unbindDragTouch);
            }
            H.addEvent(chart.container, 'mousedown', dragStart);
            H.addEvent(chart.container, 'touchstart', dragStart);
        }(Highcharts));


        // GLOBALS
        function round(val, decimals){
            return parseFloat(val).toFixed(decimals);
        }

    </script>

</body>

</html>